<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "crear_auto" %}>Crear Auto</a>
        <a href={% url "listado_autos" %}>Autos</a>
    </nav>

    <h1>Formulario de creacion</h1>

    <form action={% url "crear_auto" %} method="POST">
        {% csrf_token %}

        {{formulario}}

        <input type="submit" value="Crear">
        {% comment %} <button>Crear</button> {% endcomment %}
    </form>
</body>
</html>