<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "crear_auto" %}>Crear Auto</a>
        <a href={% url "listado_autos" %}>Autos</a>
    </nav>

    <h1>Listado de autos</h1>

    <ul>
        {% for auto in listado_de_autos %}
        <li>
            {{auto}}
        </li>
        {% endfor %}
    </ul>


</body>
</html>