<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "listado_autos" %}>Autos</a>

        {% if request.user.is_authenticated %}
        <a href={% url "perfil" %}>
            {% if request.user.datosextra.avatar %}
            <img src={{request.user.datosextra.avatar.url}} alt="avatar" height='40px'>
            {% endif %}
            {{request.user.username}}</a>
        <form action={% url "cerrar_sesion" %} method="post">
            {% csrf_token %}
            <input type="submit" value="Cerrar sesion">
        </form>
        {% else %}
        <a href={% url "iniciar_sesion" %}>Iniciar Sesion</a>
        <a href={% url "registro" %}>Registrarse</a>
        {% endif %}
    </nav>

    {% block contenido %}
    texto a reemplazar
    {% endblock contenido %}
    
</body>
</html>